
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>raner cine</title>

    <link rel="shortcut icon" href="/images/contentcove-icon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
</head>

<body>
    <div class="gradient-background"></div>
    <div class="arrow-container">
        <div class="arrow"></div>
    </div>

    <header class="header" action="/principal" method="post">
        <a>
            <img class="logo" alt="Mario-logo" src="/images/Design sem nome (1)-Photoroom.png-Photoroom.png" />
        </a>
        <nav>
            <ul class="menu">
                <li><a href="/login">login</a></li>
                <li><a href="/register">cadastre-se</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <div class="info">
            <img class="image-title" alt="Super-Mario-Brothers-title" src="/images/new-Photoroom (1) (1).png" />
            <p class="description">
                With the Mushroom Kingdom in danger, Mario sets out on a journey to save Princess Peach and defeat the evil Bowser.
                But he's not alone on this journey. Along with his friends Luigi, Toad, and many others, Mario will face incredible challenges and discover
                new worlds full of action and excitement.
            </p>

            <p class="description">Are you ready to join this epic journey?</p>

            <button class="button-trailer">informações</button>
        </div>

        <img class="mario" src="/images/Design sem nome (3)-Photoroom.png-Photoroom.png" />
    </main>

    <script src="./src/js/index.js"></script>
</body>
</html>