<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Part 02</title>
    <link rel="stylesheet" href="/css/mencss.css">
    <script src="menu.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="sidebar-header">
        <a class="logo-wrapper">
          <img src="rc.png" alt="Logo">
          <h2 class="hidden">LOGO</h2>
        </a>
        <button class="toggle-btn">
          <img src="expand.svg" alt="expand button">
        </button>
      </div>


      <div class="sidebar-links">
        <a class="link active">
          <img src="home.svg" alt="">
          <span class="hidden">Início</span>
        </a>
        <a class="link">
          <img src="form.png" alt="">
          <span class="hidden">Cadastro</span>
        </a>
        <a class="link">
          <img src="cine.png" alt="">
          <span class="hidden">Catálogo</span>
        </a>
      </div>


      <div class="sidebar-bottom">
        <div class="sidebar-links">
          <a class="link">
            <img src="settings.svg" alt="">
            <span class="hidden">Configurações</span>
          </a>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="usuario.png" alt="">
          </div>
          <div class="user-details hidden">
            <p class="username">Jane Doe</p>
            <p class="user-email">janedoe@gmail.com</p>
          </div>
        </div>
      </div>
    </nav>




    
  </body>
</html>